#map {
  height: 800px;
  width: 100%;
  display: flex;
  position: fixed !important;
}

.controls {
  position: relative;
  float: right;
  margin: 10px 60px;
  width: 140px;
  .main {
    display: flex;
    .draw {
    }
    .filter {
      margin-right: 5px;
    }

    .btn {
      background-color: white;
    }
  }
  .filter-sub {
    width: 190px;
    margin-top: 5px;
  }
}
